body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-width: 200px;
  min-height: 200px;
  background-color: #edf1fd;
  max-width: 500px;
  max-height: 500px;
}
button {
  margin-top: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
  color: black;
}
button:hover {
  background-color: aqua;
  color: black;
  cursor: pointer;
}
.return-section {
  position: relative;
  left: 72%;
}
.return-section button {
  margin-top: 5px;
  margin-right: 3px;
}

/* Popup Menu START */

.popup-menu {
  align-items: center;
  width: 100%;
}
.popup-menu img {
  margin: 0;
}

.popup-menu h1 {
  text-align: center;
  font-size: 16px;
  color: #161616;
  margin-bottom: 2px;
}
.popup-menu p {
  text-align: center;
  font-size: 13px;
  color: #161616;
  margin-bottom: 5px;
  margin-top: 2px;
}

.popup-buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.popup-menu a {
  padding: 10px 0px;
}
.popup-menu button {
  font-size: 13px;
  padding: 5px 10px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: black;
}

/* Popup Menu END */

/* Password Generate START */
.generator {
  min-width: 350px;
}

.generate-heading {
  text-align: center;
}
.generate-heading h1 {
  font-size: 18px;
}
.generator h2 {
  font-size: 16px;
  font-weight: 600;
}

#passwordDisplay {
  width: 80%;
}

#numDisplay {
  width: 60%;
}

#randomNumber {
  margin-top: 5px;
}

.generator .return-section {
  left: 83%;
}
.more-info {
  position: relative;
  top: 26px;
}
.more-info button {
  position: absolute;
  top: 10px;
}
.info-container {
  min-width: 460px;
  font-size: larger;
}
#password-char {
  margin-top: 4px;
}
#password-error-message {
  border: 2px solid black;
  margin-top: 5px;
  margin-left: 10px;
  width: 50%;
  font-size: 14px;
  text-align: center;
}
.info-container .return-section {
  left: 89%;
}

/* Password Generate END */

/* Password Strength START */

.strength-heading {
  text-align: center;
  padding-bottom: 5px;
}
.strength-heading h2 {
  font-size: 17px;
}
#length {
  border: 2px solid black;
  text-align: center;
  background-color: #ff0000;
}

/* Password Strength END */

/* Password Manager START */

/* Password Manager END */

/* Reddish: #501F3A
Pinkish: #CB2D6F
Whitish: #CCCCCC
aquaish: #14A098
dark green: #0F292F 

blackish: #161616
white: #edf1fd

*/
